#For Loop

In [3]:
courses = ["DataScience", "DataAnalytics", "Python", "JavaScript"]
count = 1

for course in courses:
    print(f"Course {count}: {course}")
    count += 1

Course 1: DataScience
Course 2: DataAnalytics
Course 3: Python
Course 4: JavaScript

In [7]:
l=['DataScience','BackendDevelopment','Flutter']
count=1

for i in l:
    print(f"Course {count}:{i}")
    count+=1

Course 1:DataScience
Course 2:BackendDevelopment
Course 3:Flutter

In [12]:
Emp=['Mehul','Pradip','Mahesh','Rahul']
count =1

for i in Emp:
    print(f'{count}) Employee {i} is Part of Company')
    count+=1

1) Employee Mehul is Part of Company
2) Employee Pradip is Part of Company
3) Employee Mahesh is Part of Company
4) Employee Rahul is Part of Company

In [38]:
l=['1st','2nd','3rd','4th','5th','6th','7th','8th','9th','10th']

for i in l:
    print(i)

for n in range(3,33,3):
    print(f'{n} is multiple of 3')

print(f'{n} is {i} multiple of 3')

1st
2nd
3rd
4th
5th
6th
7th
8th
9th
10th
3 is multiple of 3
6 is multiple of 3
9 is multiple of 3
12 is multiple of 3
15 is multiple of 3
18 is multiple of 3
21 is multiple of 3
24 is multiple of 3
27 is multiple of 3
30 is multiple of 3

TypeError: list indices must be integers or slices, not str

In [41]:
l=['1st','2nd','3rd','4th','5th','6th','7th','8th','9th','10th']

for i, n in enumerate(range(3, 33, 3)):  
    print(f'{n} is the {l[i]} multiple of 3')

3 is the 1st multiple of 3
6 is the 2nd multiple of 3
9 is the 3rd multiple of 3
12 is the 4th multiple of 3
15 is the 5th multiple of 3
18 is the 6th multiple of 3
21 is the 7th multiple of 3
24 is the 8th multiple of 3
27 is the 9th multiple of 3
30 is the 10th multiple of 3

OOPS

In [29]:
class Man:
    def Papa(self):
        print("Family Care")
    def Employee(self):
        print("Manage Company")
    def Son(self):
        print("Care Parents")
    def Husband(self):
        print("Care Wifey's")

In [33]:
a = Man()

In [34]:
a.Husband()

Care Wifey's

In [35]:
a.Son()

Care Parents

In [38]:
a.Papa()

Family Care

In [37]:
a.Employee()

Manage Company

In [41]:
class Krishn:
    def Yodhha(self):
        print('He Killed many Devils')
    def Artist(self):
        print('He Plays flute')
    def Dancer(self):
        print("He plays Garba very well")

In [43]:
# Krishn.Yodhha()
a=Krishn()
a.Dancer()

He plays Garba very well

In [76]:
class num:
    l= [1,2,3,4,5,6,7,8,9,10]
    l1=[]
    l2=[]

def exodd(self,l):
    for i in l:
        if i%2==0:
            l1.append(i)
        return l1

def exeve(self,l):
    for i in l:
        if i%2!=0:
            l2.append(i)
        return l2

In [77]:
a=num()

In [79]:
a.l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
class Num:
    def __init__(self):
        self.l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        self.l1 = []
        self.l2 = []

    def exodd(self):
        self.l1 = [i for i in self.l if i % 2 == 0]
        return self.l1

    def exeve(self):
        self.l2 = [i for i in self.l if i % 2 != 0]
        return self.l2

# Example Usage:
obj = Num()
print("Even Numbers:", obj.exodd())  # [2, 4, 6, 8, 10]
print("Odd Numbers:", obj.exeve())   # [1, 3, 5, 7, 9]

Even Numbers: [2, 4, 6, 8, 10]
Odd Numbers: [1, 3, 5, 7, 9]

#Function

In [25]:
def only_numeric(a):
    l=[]
    for i in a:
        if type(i)==int or type(i)==float:
            l.append(i)
    return l

In [26]:
only_numeric([1,2,3,4,'Sonu',True,4.8,-2])

[1, 2, 3, 4, 4.8, -2]

In [35]:
def only_numeric(a):
    n=[]
    for i in a:

        if type(i)==list:
            for j in i:
                if type(j)==int or type(j)==float:
                    n.append(j)
        if type(i) == int or type(i)==float:
            n.append(i)

    return n

In [36]:
only_numeric([1,2,3,4,'Sonu',True,4.8,-2,['Rahul','Kriti',5,8,23,0.25,-12]])

[1, 2, 3, 4, 4.8, -2, 5, 8, 23, 0.25, -12]